.room {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid var(--gray-400);

  background-color: var(--gray-800);
  cursor: pointer;

  transition: .3s ease-in-out;

  &:hover,
  &.active {
    background-color: var(--gray-600);
  }

  &__control {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;

    background-color: var(--gray-500);
    border-radius: 50%;

    transition: .2s ease-in-out;

    &.active {
      .room__popup {
        display: block;
      }
    }
  }

  &__popup {
    position: absolute;
    bottom: 0;
    left: 0;
    translate: calc(-100% + 3rem) calc(100% - 3rem);
    z-index: 40;

    display: none;

    animation: .3s fadeIn;

    border-radius: 1rem;
    background-color: var(--gray-600);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.26));

    cursor: auto;

    &.editing {
      .room__item {
        max-width: 0;
        max-height: 0;

        gap: 0;
        padding: 0;

        opacity: 0;
      }

      .room__edit {
        padding: 1rem;
        max-width: 25rem;
        max-height: 25rem;

        pointer-events: all;
        opacity: 1;
        overflow: visible;

        transition-delay: .5s;
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;

    display: block;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.53);
    backdrop-filter: blur(1.5px);
    opacity: 0;
    pointer-events: none;

    transition: .3s ease-in-out;

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: .5rem;
    max-width: 20rem;
    max-height: 25rem;

    transition: .3s ease-in-out;
    overflow: hidden;

    cursor: pointer;

    &:hover {
      background-color: var(--gray-500);
    }

    &:nth-of-type(1) {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      padding: 1rem 1rem .5rem 1rem;
      border-bottom: 1px solid var(--gray-500);
    }

    &:nth-of-type(2) {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      padding: .5rem 1rem .5rem 1rem;

      svg {
        path {
          stroke: red;
        }
      }
    }
  }

  &__edit {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 0;
    max-width: 0;

    transition: .1s ease-in;

    overflow: hidden;
    pointer-events: none;
    opacity: 0;

    .field {
      width: 20rem;

      &__input {
        font-size: 1.4rem;

        height: 3.5rem;
      }
    }

    .btn {
      height: 3rem;
      width: fit-content;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 20;

    cursor: pointer;
  }
}