.private-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.2rem;
  height: 9rem;
  width: 100%;

  border-bottom: 2px solid var(--gray-500);
  background-color: var(--accent-light);

  &__control {
    position: relative;

    transition: .2s ease-in-out;

    &.active {
      .private-header__popup {
        display: block;
      }
    }
  }

  &__popup {
    position: absolute;
    bottom: 0;
    left: 0;
    translate: calc(-100% + 3rem) calc(100% - 3rem);
    z-index: 40;

    display: none;

    animation: .3s fadeIn;

    border-radius: 1rem;
    background-color: var(--gray-600);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.26));
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;

    display: block;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.53);
    backdrop-filter: blur(1.5px);
    opacity: 0;
    pointer-events: none;

    transition: .3s ease-in-out;

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: .5rem;
    max-width: 20rem;
    max-height: 20rem;

    transition: .3s ease-in-out;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      background-color: var(--gray-500);

      svg {
        filter: brightness(0.5);
      }
    }

    &:nth-of-type(1) {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      padding: 1rem 1rem .5rem 1rem;
      border-bottom: 1px solid var(--gray-500);
    }

    &:nth-of-type(2) {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      padding: .5rem 1rem .5rem 1rem;
    }

    svg {
      transition: .2s ease-in-out;
    }
  }
}