.chat {
  &__top {
    padding: 10px;
    margin-top: -3vh;
    margin-bottom: 5px;
    border: 1px solid #646464;
    border-radius: 10px;
    background-color: #C2BFBA;

    h2 {
      margin: 0 0 20px 0;
      color: #171B18;
      word-break: break-word;
    }

    p {
      color: #646464;
      word-break: break-word;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    height: 350px;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: #C2BFBA;
    }
  }

  &__tools {
    @media (min-width: 576px) {
      margin-bottom: 5px;
      padding: 10px;
      gap: 20px;
    }
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    @media (max-width: 576px) {
      flex-direction: column;
      align-items: first baseline;
      background-color: #C2BFBA;
      border: 1px solid #646464;
    }
  }

  &__field {
    padding: 10px;
    width: 90%;
    border: 1px solid #646464;
    background-color: transparent;
    font-size: 17px;
    color: #171B18;

    &::placeholder {
      font-size: 17px;
      color: #646464;
      @media (max-width: 576px) {
        font-size: 12px;
      }
    }

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 60px;
    height: 60px;
    border: 2px solid #646464;

    font: {
      size: 17px;
    };
    color: #171B18;

    background-color: transparent;
    border-radius: 50%;

    cursor: pointer;

    transition: .2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      background-color: #D86800;
    }

    @media (max-width: 576px) {
      font-size: 12px;
      width: 40px;
      height: 40px;
    }
  }

  &__attach {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  &__file {
    input[type="file"] {
      display: none;
    }
  }
}
