.rooms {
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    border-bottom: 1px solid var(--gray-400);
  }

  &__content {
    max-height: 52.8rem;

    overflow-y: auto;
  }
}