.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;

  animation: opacityAnimation 1s forwards;

  backdrop-filter: blur(2px);

  overflow: hidden;
  cursor: pointer;

  &__wrapper {
    display: flex;
    flex-direction: column;

    padding: 2rem;

    border-radius: .5rem;
    background-color: var(--gray-600);
    animation: fadeIn 1s;

    cursor: auto;
  }

  &__close {
    align-self: flex-end;

    border: none;
    cursor: pointer;
    background-color: transparent;
  }
}



